<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>User Directory</title>
</head>

<body>

<div class="container">

	<h3>User Directory</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/registration}"
		class="btn btn-primary btn-sm mb-3">
		Add User
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Company</th>
				<th>Phone</th>
				<th>Password</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempUser : ${users}">
			
				<td th:text="${tempUser.firstName}" />
				<td th:text="${tempUser.lastName}" />
				<td th:text="${tempUser.email}" />
				<td th:text="${tempUser.company}" />
				<td th:text="${tempUser.phone}" />
				<td th:text="${tempUser.password}" />

				
				<!-- Add update button/link -->
				<td>
					<a th:href="@{/users/showFormForUpdate(userId=${tempUser.id})}"
					   class="btn btn-info btn-sm">
						Update
					</a>
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



